body, html{
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

.logoBox{
  width: 200px;
  height: 200px;
  margin-top: 20px;
  padding: 10px;
}

.blur{
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  backdrop-filter: blur(10px);
  z-index: -1;
}

#bac-video{
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: -2;
  pointer-events: none;
  opacity: 5px;
}

.titleBox{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  position: relative;
  z-index: 1;
  top: 100%;
  margin: 100px;
  transition: .4s ease;
}

.titleBox:hover{
  transform: scale(1.1);
  transition: 1s;
}

.titlePoint{
  margin-top: 35px;
  margin-bottom: 0%;
  font-size: 35px;
}

h1{
  font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  color: white;
  font-size: 70px;
  margin-bottom: 0%;
  margin-top: 10px;
}

p{
  font-size: 19px;
  color: white;
  font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  margin-top: 1%;
}

h3{
  font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  color: white;
  margin-bottom: 0%;
  margin-top: 0%;
  font-size: 20px;
}
.secondCox{
  margin: auto;
  position: relative;
  z-index: 1;
  width: 100%;
  height: auto;
}

.inSecondBox{
  margin: 60px;
  margin-top: 0px;
  margin-bottom: 0%;
}

.aboutBox{
  font-size: 20px;
  margin-top: 3px;
  font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.GSLogo, .EasyLogo, .GamingLogo{
  width: 70px;
  height: 70px;
  border-radius: 10px;
  margin: 10px;
}

.LogoAndTitle{
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-wrap: wrap;
}

.title{
  margin-left: 10px;
  margin-top: 0%;
  margin-bottom: 0%;
  margin-right: 0%;
  font-size: 30px;
}

.mainSubjectBox{
  display: flex;
  align-items: flex-start;
  justify-content: space-around;
  flex-wrap: wrap;
  padding: 10px;
  padding-top: 0%;
  padding-bottom: 0%;
}

.sujectBox1, .sujectBox2, .sujectBox3{
  backdrop-filter: blur(50px);
  width: 395px;
  height: 280px;
  margin: 30px;
  margin-bottom: 10px;
  border-style: solid;
  border-radius: 20px;
  border-color: rgb(255, 255, 255);
  border-width: 1px;
  padding: 20px;
  transition: .4s ease;
  opacity: 0;
  transform: translateY(50px);
  transition: all 0.6s ease-out;
}

.sujectBox1.show{
  opacity: 1;
  transform: translateY(0);
}

.sujectBox2.show{
  opacity: 1;
  transform: translateY(0);
}

.sujectBox3.show{
  opacity: 1;
  transform: translateY(0);
}

.sujectBox1:hover{
  border-color: rgb(61, 121, 2);
  box-shadow: 0 0 5px rgb(61, 121, 2), 0 0 25px rgb(61, 121, 2);
}

.sujectBox2:hover{
  border-color: rgb(68, 2, 121);
  box-shadow: 0 0 5px rgb(68, 2, 121), 0 0 25px rgb(68, 2, 121);
}

.sujectBox3:hover{
  border-color: rgb(136, 1, 1);
  box-shadow: 0 0 5px rgb(136, 1, 1), 0 0 25px rgb(136, 1, 1);
}

.About3{
  margin-bottom: 5px;
}

.About1{
  margin-bottom: 5px;
}

.About2{
  margin-bottom: 5px;
}

.aboutBox1{
  margin: 60px;
}

.subLinkButton1{
  padding: 10px 40px;
  color: white;
  cursor: pointer;
  width: 200px;
  margin-top: 8px;
  border-radius: 10px;
  background-color: rgb(83, 83, 83);
  transition: .4s ease;
  border: none;
}

.subLinkButton1:hover{
  background-color: rgb(61, 121, 2);
  box-shadow: 0 0 3px rgb(61, 121, 2), 0 0 10px rgb(61, 121, 2);
}

.subLinkButton2{
  padding: 10px 40px;
  color: white;
  cursor: pointer;
  width: 200px;
  margin-top: 8px;
  border-radius: 10px;
  background-color: rgb(83, 83, 83);
  transition: .4s ease;
  border: none;
}

.subLinkButton2:hover{
  background-color: rgb(68, 2, 121);
  box-shadow: 0 0 3px rgb(68, 2, 121), 0 0 10px rgb(68, 2, 121);
}

.subLinkButton3{
  padding: 10px 40px;
  color: white;
  cursor: pointer;
  width: 200px;
  margin-top: 8px;
  border-radius: 10px;
  background-color: rgb(83, 83, 83);
  transition: .4s ease;
  border: none;
}

.subLinkButton3:hover{
  background-color: rgb(136, 1, 1);
  box-shadow: 0 0 3px rgb(136, 1, 1), 0 0 10px rgb(136, 1, 1);
}

.foterName{
  font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-size: 25px;
  margin-bottom: 0%;
  margin-top: 0%;
}

a{
  color: white;
}

.contactBox{
    margin: 60px;
    margin-top: 0px;
    margin-bottom: 0%;
}

.foterName{
  margin-bottom: 10px;
}

.devName{
  margin-top: 0%;
  margin-bottom: 10px;
}

.Email{
  margin-top: 0%;
  margin-bottom: 10px;
}

.Number{
    margin-top: 0%;
}

.media{
    width: 50px;
    height: 50px;
    border-radius: 10px;
    margin: 20px;
}

.MediaBox{
    display: flex;
    flex-wrap: wrap;
    align-items: start;
    justify-content: center;
    margin-top: 40px;
    margin-bottom: 40px;
}

.foterName, .devName, .Email, .Number, .Facebook, .youtube, .tiktok, .linkedin, .whatsApp{
    opacity: 0;
    transform: translateY(50px);
    transition: all 0.6s ease-out;
}

.foterName.show{
  opacity: 1;
  transform: translateY(0);
}

.devName.show{
  opacity: 1;
  transform: translateY(0);
}

.Email.show{
    opacity: 1;
    transform: translateY(0);
}

.Number.show{
    opacity: 1;
    transform: translateY(0);
}

.Facebook.show{
    opacity: 1;
    transform: translateY(0);
}

.youtube.show{
    opacity: 1;
    transform: translateY(0);
}

.tiktok.show{
    opacity: 1;
    transform: translateY(0);
}

.linkedin.show{
    opacity: 1;
    transform: translateY(0);
}

.whatsApp.show{
  opacity: 1;
  transform: translateY(0);
}
