body, html{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.logoBox{
  width: 350px;
  height: 350px;
  margin: 0px;
  padding: 30px;
  transition: .4s ease;
}

.logoBox:hover{
    transform: scale(1.1);
    transition: 1s;
}

.titleBox{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  position: relative;
  z-index: 1;
  top: 100%;
  margin: 0px;
  margin-top: 100px;
  margin-bottom: 100px;
}

.myPro{
    width: 420px;
    margin: 0%;
}

.Fname{
    font-size: 85px;
    margin-bottom: 0%;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.Lname{
    font-size: 50px;
    margin-top: 0%;
}

.blur{
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  backdrop-filter: blur(50px);
  z-index: -1;
}

#bac-video{
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: -2;
  pointer-events: none;
  opacity: 5px;
}

.Title {
    background-color: rgb(22, 22, 22);
    width: 100%;
    object-fit: cover;
    z-index: 2;
    position: fixed;
    top: 0;
    left: 0;
}

.titleBar {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    padding: 0%;
    margin: 0%;
}

.top-bar {
  display: none;
  width: 100px;
}

.menu-icon {
  font-size: 30px;
  background: none;
  border: none;
  cursor: pointer;
  color: rgb(255, 72, 0);
}

@keyframes slideIn {
  from {
    transform: translateX(-100%);
    opacity: 0;
  }
  to {
    transform: translateX(0);
    opacity: 1;
  }
}

.title1{
    width: 120px;
    padding: 15px;
    background-color: rgb(22, 22, 22);
    border: none;
    cursor: pointer;
    border-radius: 0%;
    transition: .4s ease;
    color: rgb(255, 72, 0);
    font-size: 15px;
}

.title2{
    width: 120px;
    padding: 15px;
    background-color: rgb(22, 22, 22);
    border: none;
    cursor: pointer;
    border-radius: 0%;
    transition: .4s ease;
    color: rgb(255, 72, 0);
    font-size: 15px;
}

.title3{
    width: 120px;
    padding: 15px;
    background-color: rgb(22, 22, 22);
    border: none;
    cursor: pointer;
    border-radius: 0%;
    transition: .4s ease;
    color: rgb(255, 72, 0);
    font-size: 15px;
}

.title4{
    width: 120px;
    padding: 15px;
    background-color: rgb(22, 22, 22);
    border: none;
    cursor: pointer;
    border-radius: 0%;
    transition: .4s ease;
    color: rgb(255, 72, 0);
    font-size: 15px;
}

.title5{
    width: 120px;
    padding: 15px;
    background-color: rgb(22, 22, 22);
    border: none;
    cursor: pointer;
    border-radius: 0%;
    transition: .4s ease;
    color: rgb(255, 72, 0);
    font-size: 15px;
}

.title6{
    width: 120px;
    padding: 15px;
    background-color: rgb(22, 22, 22);
    border: none;
    cursor: pointer;
    border-radius: 0%;
    transition: .4s ease;
    color: rgb(255, 72, 0);
    font-size: 15px;
}

.title7{
    width: 120px;
    padding: 15px;
    background-color: rgb(22, 22, 22);
    border: none;
    cursor: pointer;
    border-radius: 0%;
    transition: .4s ease;
    color: rgb(255, 72, 0);
    font-size: 15px;
}


.title1:hover{
    background-color: rgb(104, 104, 104);
}

.title1.active{
    border-color: rgb(255, 72, 0);
    border-left-width: 0px;
    border-bottom-width: 2px;
    border-top-width: 0px;
    border-right-width: 0px;
    border-style: solid;
}

.title2:hover{
    background-color: rgb(104, 104, 104);
}

.title2.active{
    border-color: rgb(255, 72, 0);
    border-left-width: 0px;
    border-bottom-width: 2px;
    border-top-width: 0px;
    border-right-width: 0px;
    border-style: solid;
}

.title3:hover{
    background-color: rgb(104, 104, 104);
}

.title3.active{
    border-color: rgb(255, 72, 0);
    border-left-width: 0px;
    border-bottom-width: 2px;
    border-top-width: 0px;
    border-right-width: 0px;
    border-style: solid;
}

.title4:hover{
    background-color: rgb(104, 104, 104);
}

.title4.active{
    border-color: rgb(255, 72, 0);
    border-left-width: 0px;
    border-bottom-width: 2px;
    border-top-width: 0px;
    border-right-width: 0px;
    border-style: solid;
}

.title5:hover{
    background-color: rgb(104, 104, 104);
}

.title5.active{
    border-color: rgb(255, 72, 0);
    border-left-width: 0px;
    border-bottom-width: 2px;
    border-top-width: 0px;
    border-right-width: 0px;
    border-style: solid;
}

.title6:hover{
    background-color: rgb(104, 104, 104);
}

.title6.active{
    border-color: rgb(255, 72, 0);
    border-left-width: 0px;
    border-bottom-width: 2px;
    border-top-width: 0px;
    border-right-width: 0px;
    border-style: solid;
}

.title7:hover{
    background-color: rgb(104, 104, 104);
}

.title7.active{
    border-color: rgb(255, 72, 0);
    border-left-width: 0px;
    border-bottom-width: 2px;
    border-top-width: 0px;
    border-right-width: 0px;
    border-style: solid;
}

.MyImage{
    width: 100%;
    top: 0;
    left: 0;
}

p{
    color: white;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 20px;
}

b{
    color: rgb(255, 72, 0);
}

i{
    font-size: 15px;
}

.SummaryBox{
    margin: 60px;
    margin-top: 30px;
    margin-bottom: 0%;
}

.about, .about1, .about2, .about3, .about4{
    background-color: rgb(36, 36, 36);
    margin-top: 30px;
    margin-bottom: 0%;
    border-width: 1px;
    border-color: rgb(255, 72, 0);
    border-style: solid;
    padding: 10px;
    padding-top: 2px;
    padding-bottom: 2px;
    border-radius: 10px;
    opacity: 0;
    transform: translateY(50px);
    transition: all 0.6s ease-out;
}

.about.show{
    opacity: 1;
    transform: translateY(0);
}

.about1.show{
    opacity: 1;
    transform: translateY(0);
}

.about2.show{
    opacity: 1;
    transform: translateY(0);
}

.about3.show{
    opacity: 1;
    transform: translateY(0);
}

.about4.show{
    opacity: 1;
    transform: translateY(0);
}

h1{
    color: rgb(255, 72, 0);
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    margin-top: 35px;
    margin-bottom: 0%;
}

.EsucationBox{
    margin: 60px;
    margin-top: 0px;
    margin-bottom: 0%;
}

.workEx{
    margin: 60px;
    margin-top: 0px;
    margin-bottom: 0%;
}

.edu, .edu1, .edu2, .edu3{
    opacity: 0;
    transform: translateY(50px);
    transition: all 0.6s ease-out;
}

.edu.show{
    opacity: 1;
    transform: translateY(0);
}

.edu1.show{
    opacity: 1;
    transform: translateY(0);
}

.edu2.show{
    opacity: 1;
    transform: translateY(0);
}

.edu3.show{
    opacity: 1;
    transform: translateY(0);
}

.resultBox{
    display: block;
    align-items: flex-start;
    justify-content: flex-start;
}

.result, .result0, .result1, .result2, .result3, .result4, .result5, .result6, .result7, .result8, .result9, .result10, .result11, .result12{
    margin: 5px;
    padding: 10px 30px;
    background-color: rgb(36, 36, 36);
    border-radius: 10px;
    width: auto;
    height: auto;
    font-size: 15px;
    opacity: 0;
    transform: translateY(50px);
    transition: all 0.6s ease-out;
}

.result.show{
    opacity: 1;
    transform: translateY(0);
}

.result0.show{
    opacity: 1;
    transform: translateY(0);
}

.result1.show{
    opacity: 1;
    transform: translateY(0);
}

.result2.show{
    opacity: 1;
    transform: translateY(0);
}

.result3.show{
    opacity: 1;
    transform: translateY(0);
}

.result4.show{
    opacity: 1;
    transform: translateY(0);
}

.result5.show{
    opacity: 1;
    transform: translateY(0);
}

.result6.show{
    opacity: 1;
    transform: translateY(0);
}

.result7.show{
    opacity: 1;
    transform: translateY(0);
}

.result8.show{
    opacity: 1;
    transform: translateY(0);
}

.result9.show{
    opacity: 1;
    transform: translateY(0);
}

.result10.show{
    opacity: 1;
    transform: translateY(0);
}

.result11.show{
    opacity: 1;
    transform: translateY(0);
}

.result12.show{
    opacity: 1;
    transform: translateY(0);
}

.work, .work0{
    opacity: 0;
    transform: translateY(50px);
    transition: all 0.6s ease-out;
}

.work.show{
    opacity: 1;
    transform: translateY(0);
}

.work0.show{
    opacity: 1;
    transform: translateY(0);
}

.skillBox{
    margin: 60px;
    margin-top: 0px;
    margin-bottom: 0%;
}

.CardBox{
    display: flex;
    flex-wrap: wrap;
    align-items: start;
    justify-content: flex-start;
    margin-left: 20px;
}

.Card{
    background-color: rgb(36, 36, 36);
    margin: 20px;
    margin-right: 22px;
    padding: 15px;
    border-width: 1px;
    border-color: rgb(255, 72, 0);
    border-style: solid;
    border-radius: 15px;
    width: 280px;
    height: 220px;
    transition: .4s ease;
}

.Card:hover{
    transform: scale(1.1);
    transition: 1s;
}

.CardName{
    margin-bottom: 0%;
}

.CardDetsils{
    font-size: 19px;
}

.priject{
    margin: 60px;
    margin-top: 0px;
    margin-bottom: 0%;
}

.Logo1, .Logo2, .Logo3, .Logo4{
    width: 100%;
    height: 80%;
    border-radius: 20px;
    opacity: 0;
    transform: translateY(50px);
    transition: all 0.6s ease-out;
}

.Logo1.show{
    opacity: 1;
    transform: translateY(0);
}

.Logo2.show{
    opacity: 1;
    transform: translateY(0);
}

.Logo3.show{
    opacity: 1;
    transform: translateY(0);
}

.Logo4.show{
    opacity: 1;
    transform: translateY(0);
}

.ProBox{
    display: flex;
    flex-wrap: wrap;
    align-items: start;
    justify-content: flex-start;
    margin-left: 20px;
}

.ProName{
    margin-bottom: 0%;
}

.ProBoxIner{
    margin: 20px;
    margin-right: 22px;
    padding: 15px;
    border-width: 1px;
    border-color: rgb(255, 72, 0);
    border-style: solid;
    background-color: rgb(32, 32, 32);
    border-radius: 15px;
    width: 280px;
    height: auto;
    transition: .4s ease;
}

.ProBoxIner:hover{
    transform: scale(1.1);
    transition: 1s;
}

.ProButton{
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    padding: 10px 40px;
    color: white;
    cursor: pointer;
    width: 200px;
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: 35px;
    border-radius: 10px;
    background-color: rgb(83, 83, 83);
    transition: .4s ease;
    border: none;
}

.ProButton:hover{
    background-color: rgb(255, 72, 0);
}

a{
    color: rgb(255, 72, 0);
}

hr{
    color: white;
}

.contactBox{
    margin: 60px;
    margin-top: 0px;
    margin-bottom: 0%;
}

.Email{
    margin-bottom: 10px;
}

.Number{
    margin-top: 0%;
}

.media{
    width: 50px;
    height: 50px;
    border-radius: 10px;
    margin: 20px;
}

.MediaBox{
    display: flex;
    flex-wrap: wrap;
    align-items: start;
    justify-content: center;
    margin-top: 40px;
    margin-bottom: 40px;
}

.Email, .Number, .Facebook, .youtube, .tiktok, .linkedin{
    opacity: 0;
    transform: translateY(50px);
    transition: all 0.6s ease-out;
    transition: .4s ease;
}

.Email.show{
    opacity: 1;
    transform: translateY(0);
}

.Number.show{
    opacity: 1;
    transform: translateY(0);
}

.Facebook.show{
    opacity: 1;
    transform: translateY(0);
}

.Facebook:hover{
    transform: translateY(-20px);
    transition: 1s;
}

.youtube.show{
    opacity: 1;
    transform: translateY(0);
}

.youtube:hover{
    transform: translateY(-20px);
    transition: 1s;
}

.tiktok.show{
    opacity: 1;
    transform: translateY(0);
}

.tiktok:hover{
    transform: translateY(-20px);
    transition: 1s;
}

.linkedin.show{
    opacity: 1;
    transform: translateY(0);
}

.linkedin:hover{
    transform: translateY(-20px);
    transition: 1s;
}
